{{define "cookToolResults"}}
  <div id="results-ctr">
    <div class="p-4 rounded-lg space-y-3" id="supplies-needed-ctr">
      <h2 class="text-center text-xl text-slate-800 dark:text-white">Base Supplies Needed</h2>
      <div class="flex justify-between gap-4">
        <p class="text-left text-slate-800 dark:text-white">Car Battery</p>
        <span class=" bg-green-500 dark:text-white text-slate-800 rounded-md w-[32px] text-center" id="car-battery-needed">{{.CarBatteryNeeded}}</span>
       </div>
       <div class="flex justify-between gap-4">
         <p class="text-left text-slate-800 dark:text-white">Paint Thinner</p>
         <span class=" bg-green-500 dark:text-white text-slate-800 rounded-md w-[32px] text-center" id="paint-thinner-needed">{{.PaintThinnerNeeded}}</span>
       </div>
       <div class="flex justify-between gap-4">
         <p class="text-left text-slate-800 dark:text-white">Drain Cleaner</p>
         <span class=" bg-green-500 dark:text-white text-slate-800 rounded-md w-[32px] text-center" id="drain-cleaner-needed">{{.DrainCleanerNeeded}}</span>
       </div>
      <h2 class="text-center text-xl text-slate-800 dark:text-white">Precursors Needed</h2>
      <div class="flex justify-between gap-4">
        <p class="text-left text-slate-800 dark:text-white">Lithium</p>
        <span class=" bg-green-500 dark:text-white text-slate-800 rounded-md w-[32px] text-center" id="lithium-needed">{{.LithiumNeeded}}</span>
       </div>
       <div class="flex justify-between gap-4">
         <p class="text-left text-slate-800 dark:text-white">Acetone</p>
         <span class=" bg-green-500 dark:text-white text-slate-800 rounded-md w-[32px] text-center" id="acetone-needed">{{.AcetoneNeeded}}</span>
       </div>
       <div class="flex justify-between gap-4">
         <p class="text-left text-slate-800 dark:text-white">Sulfuric Acid</p>
         <span class=" bg-green-500 dark:text-white text-slate-800 rounded-md w-[32px] text-center" id="sulfuric-acid-needed">{{.SulfuricAcidNeeded}}</span>
       </div>

     </div>
     <br/>
     <div class="p-4 rounded-lg space-y-3" id="precursor-weight">
       <h2 class="text-center text-xl text-slate-800 dark:text-white">Storage Required</h2>
       <div class="flex justify-between gap-4">
         <p class="text-left text-slate-800 dark:text-white">Precursor Weight</p>
         <span class=" bg-green-500 dark:text-white text-slate-800 rounded-md w-[32px] text-center">{{.PrecursorWeight}}</span>
       </div> 
     </div>
     <div class="p-4 rounded-lg space-y-3" id="cost-ctr">
      <h2 class="text-center text-xl text-slate-800 dark:text-white">Cost</h2>
      <div class="flex justify-between gap-4">
        <p class="text-left text-slate-800 dark:text-white">Precursors</p>
        <span class=" bg-green-500 dark:text-white text-slate-800 rounded-md w-[64px] text-center">{{.PrecursorCost}}</span>
      </div> 
    </div> 
   </div>
{{end}}