{{define "storageTool"}}
<div id="storage-tool-ctr" class="text-center w-screen h-screen   dark:bg-gray-900 bg-white overflow-x-hidden">
{{if .IsAuthorized}}
    <div hx-ext="ws" ws-connect="{{.WsUrl}}/ws-storage-tool" hx-trigger="message"
    class="ml-16 flex w-full flex-wrap gap-8 p-8 overflow-y-auto">
      <i hx-post="/logout" hx-target="#main-content" hx-swap="innerHTML"
        class="fixed top-2 right-2 sidebar-icon fa-solid fa-right-from-bracket flex items-center justify-center h-12 w-12 mx-auto shadow-lg bg-gray-800 text-green-500 hover:bg-green-600 hover:text-white rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer"></i>
        {{range $propertyInventory := .PropertyInventories}}
            {{template "storagePropertyCard" $propertyInventory}}
        {{end}}
        <div id="add-storage-card-ctr" class="flex w-40 items-center justify-center">
            <div hx-get="/storage-add-card" hx-target="#add-storage-card-ctr" hx-swap="beforebegin"
            id="add-storage-card-btn"
            class="h-20 w-20 rounded-md shadow-md shadow-slate-600 cursor-pointer transition-all duration-300 ease-linear hover:bg-green-600 bg-green-500 text-center flex items-center justify-center">
                <i class="fa-plus fa-solid fa-xl text-white"></i>
            </div>
        </div>
        <script>
            document.addEventListener("htmx:wsAfterMessage", function(event) {
                const msg = event.detail.message;
                try {
                    const componentJson = JSON.parse(msg);
            
                    if (componentJson) {
                        if (componentJson["Action"] === "Delete") {
                            const element = document.getElementById(componentJson["HX-Trigger"]);
                            if (element) {
                                element.remove();
                            }
                        }
                
                        if (componentJson["Action"] === "Add") {
                            const componentRawHtml = componentJson["HX-Trigger"];
                
                            const parser = new DOMParser();
                            const doc = parser.parseFromString(componentRawHtml, 'text/html');
                            const newForm = doc.body.firstChild;
                
                            // Get the reference element where you want to insert the new form before
                            const referenceElement = document.getElementById('add-storage-card-ctr'); // The ID of the target element
                
                            // Insert the new form before the reference element
                            if (referenceElement && referenceElement.parentNode) {
                                referenceElement.parentNode.insertBefore(newForm, referenceElement);
                            }
                        }
                    }
                } catch(_) {
                }
            });
            </script>
    </div>
{{end}}
    
{{if not .IsAuthorized}}
    <div id="authModal" class="ml-16 fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-50">
        <form hx-post="/login" hx-target="#storage-tool-ctr" hx-swap="outerHTML"
         class="w-80 rounded-lg bg-white p-6 shadow-lg flex flex-col gap-2">
            <h2 class="text-xl font-semibold text-gray-800">Sign in</h2>
            <p class="mt-2 text-gray-600">Please log in to access the storage tool.</p>
            <input name="group-name" type="text" class="text-slate-800 p-1 focus:bg-slate-200 bg-slate-100 transition-all duration-300 ease-linear focus:outline-none placeholder-slate-700" placeholder="Group name" />
            <input name="password" type="password" class="text-slate-800 p-1 focus:bg-slate-200 bg-slate-100 transition-all duration-300 ease-linear focus:outline-none placeholder-slate-700" placeholder="Password" />
            <button type="submit" class="mt-4 w-full rounded-md bg-blue-600 py-2 text-white hover:bg-blue-700 focus:outline-none">Login</button>
            <p hx-get="/register" hx-target="#authModal" hx-swap="outerHTML" class="cursor-pointer text-center underline mt-3 text-slate-700">Register</p>
        </form>
    </div>
{{end}}
</div>
{{end}}